In [2]:
import numpy as np # linear algebra
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/dbms-dataset/Introduction to Relational Model_2.mp4
/kaggle/input/videonptel/videoplayback.mp4

In [3]:
pip install moviepy

Collecting moviepy
  Downloading moviepy-1.0.3.tar.gz (388 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 388.3/388.3 kB 10.5 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Collecting decorator<5.0,>=4.0.2 (from moviepy)
  Downloading decorator-4.4.2-py2.py3-none-any.whl (9.2 kB)
Requirement already satisfied: tqdm<5.0,>=4.11.2 in /opt/conda/lib/python3.10/site-packages (from moviepy) (4.65.0)
Requirement already satisfied: requests<3.0,>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from moviepy) (2.31.0)
Collecting proglog<=1.0.0 (from moviepy)
  Downloading proglog-0.1.10-py3-none-any.whl (6.1 kB)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from moviepy) (1.23.5)
Requirement already satisfied: imageio<3.0,>=2.5 in /opt/conda/lib/python3.10/site-packages (from moviepy) (2.31.1)
Collecting imageio_ffmpeg>=0.2.0 (from moviepy)
  Downloading imageio_ffmpeg-0.4.8-py3-none-manylinux2010_x86_64.whl (26.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.9/26.9 MB 41.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pillow>=8.3.2 in /opt/conda/lib/python3.10/site-packages (from imageio<3.0,>=2.5->moviepy) (9.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.8.1->moviepy) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.8.1->moviepy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.8.1->moviepy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.8.1->moviepy) (2023.5.7)
Building wheels for collected packages: moviepy
  Building wheel for moviepy (setup.py) ... done
  Created wheel for moviepy: filename=moviepy-1.0.3-py3-none-any.whl size=110744 sha256=24547824ec90938a67327f8c8f681b9e3e2656dc7ada56abf28ce38dcc9ed083
  Stored in directory: /root/.cache/pip/wheels/96/32/2d/e10123bd88fbfc02fed53cc18c80a171d3c87479ed845fa7c1
Successfully built moviepy
Installing collected packages: proglog, imageio_ffmpeg, decorator, moviepy
  Attempting uninstall: decorator
    Found existing installation: decorator 5.1.1
    Uninstalling decorator-5.1.1:
      Successfully uninstalled decorator-5.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterlab-lsp 4.2.0 requires jupyter-lsp>=2.0.0, but you have jupyter-lsp 1.5.1 which is incompatible.
Successfully installed decorator-4.4.2 imageio_ffmpeg-0.4.8 moviepy-1.0.3 proglog-0.1.10
Note: you may need to restart the kernel to use updated packages.

In [4]:
import moviepy.editor
from tkinter.filedialog import *
vid = "/kaggle/input/dbms-dataset/Introduction to Relational Model_2.mp4"
video = moviepy.editor.VideoFileClip(vid)

In [5]:
aud = video.audio
aud.write_audiofile("outputAud.mp3")

MoviePy - Writing audio in outputAud.mp3

MoviePy - Done.

In [6]:
! pip install -U git+https://github.com/linto-ai/whisper-timestamped

Collecting git+https://github.com/linto-ai/whisper-timestamped
  Cloning https://github.com/linto-ai/whisper-timestamped to /tmp/pip-req-build-ub95ek7f
  Running command git clone --filter=blob:none --quiet https://github.com/linto-ai/whisper-timestamped /tmp/pip-req-build-ub95ek7f
  Resolved https://github.com/linto-ai/whisper-timestamped to commit 732865ce9c0c1027c67f964e7200c7db6542b142
  Preparing metadata (setup.py) ... done
Requirement already satisfied: Cython in /opt/conda/lib/python3.10/site-packages (from whisper-timestamped==1.12.20) (0.29.35)
Collecting dtw-python (from whisper-timestamped==1.12.20)
  Downloading dtw_python-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (645 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 645.5/645.5 kB 15.8 MB/s eta 0:00:0000:01
Collecting openai-whisper (from whisper-timestamped==1.12.20)
  Downloading openai-whisper-20230314.tar.gz (792 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 792.9/792.9 kB 48.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.19 in /opt/conda/lib/python3.10/site-packages (from dtw-python->whisper-timestamped==1.12.20) (1.23.5)
Requirement already satisfied: scipy>=1.1 in /opt/conda/lib/python3.10/site-packages (from dtw-python->whisper-timestamped==1.12.20) (1.11.1)
Collecting triton==2.0.0 (from openai-whisper->whisper-timestamped==1.12.20)
  Downloading triton-2.0.0-1-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (63.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.3/63.3 MB 20.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numba in /opt/conda/lib/python3.10/site-packages (from openai-whisper->whisper-timestamped==1.12.20) (0.57.1)
Requirement already satisfied: torch in /opt/conda/lib/python3.10/site-packages (from openai-whisper->whisper-timestamped==1.12.20) (2.0.0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from openai-whisper->whisper-timestamped==1.12.20) (4.65.0)
Requirement already satisfied: more-itertools in /opt/conda/lib/python3.10/site-packages (from openai-whisper->whisper-timestamped==1.12.20) (9.1.0)
Collecting tiktoken==0.3.1 (from openai-whisper->whisper-timestamped==1.12.20)
  Downloading tiktoken-0.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 62.9 MB/s eta 0:00:00
Collecting ffmpeg-python==0.2.0 (from openai-whisper->whisper-timestamped==1.12.20)
  Downloading ffmpeg_python-0.2.0-py3-none-any.whl (25 kB)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from ffmpeg-python==0.2.0->openai-whisper->whisper-timestamped==1.12.20) (0.18.3)
Requirement already satisfied: regex>=2022.1.18 in /opt/conda/lib/python3.10/site-packages (from tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (2023.6.3)
Requirement already satisfied: requests>=2.26.0 in /opt/conda/lib/python3.10/site-packages (from tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (2.31.0)
Collecting cmake (from triton==2.0.0->openai-whisper->whisper-timestamped==1.12.20)
  Downloading cmake-3.27.0-py2.py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (26.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.0/26.0 MB 48.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: filelock in /opt/conda/lib/python3.10/site-packages (from triton==2.0.0->openai-whisper->whisper-timestamped==1.12.20) (3.12.2)
Collecting lit (from triton==2.0.0->openai-whisper->whisper-timestamped==1.12.20)
  Downloading lit-16.0.6.tar.gz (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.7/153.7 kB 13.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /opt/conda/lib/python3.10/site-packages (from numba->openai-whisper->whisper-timestamped==1.12.20) (0.40.1)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.10/site-packages (from torch->openai-whisper->whisper-timestamped==1.12.20) (4.6.3)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from torch->openai-whisper->whisper-timestamped==1.12.20) (1.12)
Requirement already satisfied: networkx in /opt/conda/lib/python3.10/site-packages (from torch->openai-whisper->whisper-timestamped==1.12.20) (3.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from torch->openai-whisper->whisper-timestamped==1.12.20) (3.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken==0.3.1->openai-whisper->whisper-timestamped==1.12.20) (2023.5.7)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->torch->openai-whisper->whisper-timestamped==1.12.20) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.10/site-packages (from sympy->torch->openai-whisper->whisper-timestamped==1.12.20) (1.3.0)
Building wheels for collected packages: whisper-timestamped, openai-whisper, lit
  Building wheel for whisper-timestamped (setup.py) ... done
  Created wheel for whisper-timestamped: filename=whisper_timestamped-1.12.20-py3-none-any.whl size=44527 sha256=9fb09f981bd778f3d2c79e403fdda922cf542b3f53a717b247a5aaa96c2279ae
  Stored in directory: /tmp/pip-ephem-wheel-cache-y6d9p3gx/wheels/9d/fb/03/ae0b1c8b71edda71e33da77333c78117d879361bdd35de48e4
  Building wheel for openai-whisper (pyproject.toml) ... done
  Created wheel for openai-whisper: filename=openai_whisper-20230314-py3-none-any.whl size=796908 sha256=ca494d2078c0c42d818b2710dc2acce9981cc6075d63303174bfaa550089ebb8
  Stored in directory: /root/.cache/pip/wheels/b2/13/5f/fe8245f6dc59df505879da4b2129932e342f02a80e6b87f27d
  Building wheel for lit (pyproject.toml) ... done
  Created wheel for lit: filename=lit-16.0.6-py3-none-any.whl size=93584 sha256=8d4826f7d5191712a90f22935300ba7b925d43369008899da97e6ca42efdf899
  Stored in directory: /root/.cache/pip/wheels/14/f9/07/bb2308587bc2f57158f905a2325f6a89a2befa7437b2d7e137
Successfully built whisper-timestamped openai-whisper lit
Installing collected packages: lit, cmake, ffmpeg-python, tiktoken, dtw-python, triton, openai-whisper, whisper-timestamped
Successfully installed cmake-3.27.0 dtw-python-1.3.0 ffmpeg-python-0.2.0 lit-16.0.6 openai-whisper-20230314 tiktoken-0.3.1 triton-2.0.0 whisper-timestamped-1.12.20

In [7]:

import whisper_timestamped as whisper

audio = whisper.load_audio('/kaggle/input/dbms-dataset/Introduction to Relational Model_2.mp4')
model = whisper.load_model("base")

result = whisper.transcribe(model, audio, language="en")

import json
# print(json.dumps(result, indent = 2, ensure_ascii = False))

Importing the dtw module. When using in academic works please cite:
  T. Giorgino. Computing and Visualizing Dynamic Time Warping Alignments in R: The dtw Package.
  J. Stat. Soft., doi:10.18637/jss.v031.i07.

100%|███████████████████████████████████████| 139M/139M [00:03<00:00, 38.3MiB/s]
100%|██████████| 175073/175073 [01:00<00:00, 2891.94frames/s]

In [17]:

maintext = json.dumps(result['text'] , indent = 2, ensure_ascii = False)

print(maintext)

" Welcome to module 5 of Database Management Systems. In the previous module, we started discussions on introducing relational model. We will conclude that in this module. So, in the last module we have talked about attributes, relational schemas and instances in mathematical form and very importantly we have tried to introduce discuss about the concept of keys. In this module, we will try to understand more on the relational algebra and familiarize with the operations of relational algebra. So, these are the different operations that we will look at select project union and so on. Some of them are simple set theoretic operations, some are newly defined operations and we look at the aggregators. So, relational operators. So, what is a relation? As we have seen already, a relation is nothing but a table. It has a set of columns and it has a set of rows or records that fill up data according to those columns. Select is an operation which chooses a subset of rows from a relation based on a certain condition. So, it is written in terms of in relational algebra we write it with a notion of notation of sigma and following a parenthesis, we put the name of the relation. So, we say we are selecting from the relation r and then we put a condition here which is a propositional condition. So, if for this all rows of r will be checked if a row will satisfy this condition, then it will be included in the result. If it does not satisfy the condition, then it will not be included in the result. So, let us look at this example. So, our condition is sorry let us put this back. So, our condition theta is a is equal to b and d is greater than 5. So, you are saying that that any row to be selected the value of its a attribute should equal the value of its b attribute and when that happens the value of its d attribute must be greater than 5. So, you can easily if we look through this we can easily say by the first condition a equal to b can say that this row does not satisfy this condition because a is alpha and b is beta. Whereas, these three rows satisfy because a is equal to beta, then we again look at d. We find that this d is less than 5. We say this also does not satisfy because it fails the second condition both have to hold. So, we finally come to the this record and this record are the selected record in the result alpha alpha 1 7 alpha alpha 1 7 beta beta 23 10 beta beta 23 10. In both of these records a is equal to b in both of these records d is greater than 5. So, selection is a process is a operation which selects a subset of rows from a table from a relation and creates a new relation based on a selection condition that must be true for all the rows for all the records that have been selected. But the set of columns do not change they remain the same. So, for example, if I if in the contrary if we say that sigma a not equal to b r, then naturally I will have a relation which feels a b c d and that relation will be only this row because as the only row where is not equal to b. We can I can have a selection saying r where c is greater than 0. Naturally this will satisfy this will satisfy this will satisfy this will satisfy. So, this whole relation would be the result of the selection. So, it is possible that it is not necessary that some rows will have to get eliminated in the result. I say that this is is the selection is d is less than 1 this will fail this will fail this will fail this will fail. So, all of them will fail. So, it is possible that the result of an operation could be either the whole relation as we saw last time or a null relation which has where none of the records will feature because none of the records satisfy the condition. So, there is a basic select operation. Let us move on look at the next one is called the projection operation. So, select chooses a subset of the rows projection necessarily chooses projects a set of columns from the original relation. So, this is a quite straightforward to see it is written in terms of this notation pi and then you write the columns that you want in the result of projection. So, you say this is a c. So, which means basically the column which is not selected in the projection you can simply forget about that simply erase it if you erase that you get this relation. And once you get that please recall that a relation is a set and in a set every element has to be distinct. So, after erasing b this first and the second row have become identical. So, naturally both of them cannot be there it will have to be made distinct by erasing any one of them. And hence they become one row in the result. Obviously, I can project on any of the in fields singly or all the fields also I can do a projection of of this a b c of r of course, that means in this case that will mean that it is a set which is equal to r a given. But obviously, I must have at least one column at least one attribute to project on I cannot project on a null set of attributes because that does not give me a scheme I have. So, there will have to be some attribute one or more attribute on which I project. So, selection and projection selection has given me the set of rows to written and projection has given me what are the columns to written in the result. And combining them I can do several different operations in a database table which can give me several interesting results. Before proceeding further let us look into some of the typical other operations that relational algebra allows. The next one is union given two relations I can take a union this is nothing, but a set thearity union the two relations r and s must have the same set of columns a and b because if the columns are not same then the union does not make sense they because certainly if the columns are different attributes are different their types and type of data values would be different. So, they cannot be put to a same table. So, when two relations have the same set of attributes then their instances can be taken a union of. So, all records that exist in both these relations will be put together into a single table. So, here alpha 1 is coming here beta 1 is coming here in terms of relation alpha 1 is coming here alpha 2 is coming here beta 1 is coming here beta 3 is coming here and alpha 2 is coming here you can see that this record alpha exist in both the relations and by the set theoretic notion of uniqueness in the union they have to be uniqueified. So, one of them will be removed it does not matter because they are identical anyway. So, for relations having the same set of attributes we can simply make a union of all its records. So, other the third operation is a fourth operation is doing a set difference it works simply as set theoretic difference again the two relations must have the same set of attributes and I can do a difference of R minus S which mean that all two pulls which exist in R but do not exist in S will be included. So, this is included because this is not here but this is not included because it is in S this is included because this is this does not exist in the set S. So, it is a set so you take the set R and then erase all the records like this which exist in S and you get R minus S. So, if I look into just to recap if I look into the wind diagram then this is this is a set R minus S which belongs to R but does not belong to S. So, this is a fourth operation that one can do with the in relational algebra. Fifth is a set intersection of two relations. So, again the two relations need to have the same set of attributes you can take their intersection which is the record which belongs to both it is the record that belongs to both of them and as you are aware now set intersection actually is not a new operation it is not a fundamental operation because if I have R if I have S then this is R minus S. Now, if I subtract this R minus S which is this set from R which is this bigger set then what will be remaining this is what will be remaining. So, if I subtract R minus S from R then what will remain is necessarily the intersection of this is R intersection S. So, set intersection is not a fundamental operation of relational algebra but can be used because it can be expressed in terms of set difference. Next comes how can we join two different relations which have different set of attributes. So, relation R has AB and relation S has CDE. So, we can take a Cartesian product. So, taking Cartesian product is making all possible combinations. So, necessarily if since this has two relations and this has three relations. So, this will have 1, 2, 3, 4, 5, 6, 7, 8. This has four relations. So, these are 8 total all possible pairing of relations of R or records of R and records of S are included. So, that is a Cartesian product all possible combinations. This is how we can join two relations but certainly what is important is something which we will discuss shortly. Now, in the Cartesian product then issue may happen because there could be attributes which are common between two relations. So, if two attributes are common when you take Cartesian product how do you put their name because as with the example show here between R and S, the attribute B is common. So, how do you take care of that. So, when the such common names happen then we actually change the name of the attribute with the name of the relation. So, B coming from R will be called R dot B and S B coming from S will be called R dot S and accordingly the relational algebra gives you a way to rename a table and put its name differently. So, this is given this is given by this relation given by this symbol rho. So, you can using a relation R you can actually give it a different name S and do that in terms of. So, with that you can actually because otherwise you cannot compute R cross R because if we try to do R cross R then you will have R dot A R dot B and you again have R dot A R dot B. So, you are using this to rename R to S and then compute this. So, renaming a table is another feature which is provided of course, it is not a fundamental operation of the algebra, but this is what makes the any kind of Cartesian product possible. Finally, we can make composition of operations that if for example, what you show here is we have two relations R and S, we have taken a Cartesian product and then we have taken a selection. So, technique Cartesian product of R and S to produce the table as you can see the R cross S and then a selection based on A equal to C based on that condition. So, all these operations can be combined in multiple different ways to give you really complex relational algebra operations. There is a nice operation which is a derived one which can be written in terms of other operations which is called a natural join which we will use very heavily. Let me first show you an example of that. Suppose I have two relations R and S and what is important is there are some attributes which are common between them. Now, we saw earlier that in Cartesian product in terms of common attributes we basically the attributes got renamed in terms of the table name, but this is not what we are looking at in relation natural join. What we want to say is if an attribute is common between two two tables then while you join them the records from two fields can be joined if their value on that common attribute is same. So, it is what it tries to do is it tries to make a Cartesian product of these two tables first take all possible combinations, but then you select only those rows where the values are identical between columns having the same name. So, for example, if you look into this row and this row. So, what will happen in the Cartesian product I will have this alpha 1 alpha a 1 a alpha let me write it in smaller. So, I am doing a Cartesian product I am looking at this row I am looking at this row. So, I have a b c d, i b d e and alpha alpha a 1 a alpha. Now, they match on b they match on d. So, I will say this is this will get retained, but in the Cartesian product I will also have the first row of r going with the second row of s alpha 1 alpha a 3 a beta. Here the b does not match, d does not does match, but the b does not match. So, this particular entry will not go in the final result. So, you take the Cartesian product and you only retain those rows where the values match for the identically named attribute. That is why. So, you take the Cartesian product now look at the expression. The attributes common attributes are b and c b and d. So, the b attribute is r dot b and s dot b. So, you say that in the Cartesian product r dot b must equal s dot b. The name is common the value will have to be same further. Similarly, d is a common attribute. So, r dot d value in the r dot d and the value in the s dot d has to be same. So, based on the Cartesian product you do a selection for equality of values on attributes which are identical between the two columns, between the two relations, within the two tables. This is the final selection. As you do that you get a table where there are two b's r dot b s dot b. There are two d's r dot d s dot d, but according to this selection for all at all records for all rows the value on r dot b and value on s dot b are same. Value on r dot d and value on r s dot d are same because that is how we have done the selection. So, there is no reason to keep two b columns or two d columns. So, now you project based on a r dot b c r dot d and e which means that s dot b and s dot d are left out. You do not project. So, after you have done this projection you get the final result of the natural join which has a union of all the attributes that the two relations at a b c d and b d union is a b c d and you have all those records whose values matched on the common attributes between relation r and relation d. So, you can say that if I now do a selection if I now do a projection on a b c or rather a b c d I will get a subset of r. So, if I do a projection on b d e I will get a subset of s. So, this is the natural join operation in relational algebra as you can see this is a derived operation because we could use the Cartesian product selection and projection to get this, but as I tell you we will see more of when we look at the look at all these different query coding, but natural join is one of the most widely used most fundamental relational algebra operation that you will often need beyond selection and projection. So, these were the six operations and the important derived operations of relational algebra besides that relational algebra has some aggregation operators. For example, given a table we could compute the sum of values on a column, we could compute average of values, max of values, mean of values. So, these somehow aggregate values of multiple rows on a particular column and therefore, these are called aggregate operators. We will see when we talk about SQL, we will see how this really can be coded in SQL and used, but these are this become very convenient to use because often we will need to know if this is I mean these are the instructors and so, let us see which instructor has a maximum load of courses how many based on hours or which instructor has what is average load on the different instructors and so on. So, in every possible context different aggregate operators are frequently required and they are also available as operators in most of the pure as well as commercial query languages. Finally, to note that relational algebra in relational every query input is a table and the output is also a table. So, it is always manipulating one or more tables into a single table that is what we are I mean in very simple terms that is a way you can look at it and all data in the output table appears in one of the input tables that is known new data gets generated. It is basically taking selecting combining data from different input tables it does not generate a new data that is that has to be that is if I see that an attribute for a particular row has a value 15 then there must be some input table where there is a record where in that field there is an attribute value 15 otherwise this cannot happen. Again relational algebra is not turing complete in the sense that there are algorithms which cannot be coded in relational algebra. We mentioned this earlier two and that is the reason that is a foundational reason of why the SQL language commercial SQL language which is based on relational algebra is not turing complete either. So, we might need to use other programming languages along with the relational algebra coding for solving some of the application problems. To summarize this is the so this table is what you not only should remember but you should become an expert of in terms of the operators of relational algebra which we will start using very heavily as we start doing the query coding and processing. So, we talked about selection which takes rows selectively, talked about projection which takes out certain columns of a table. We talked about Cartesian product of two relations which make all possible combined relations. We talked about union of records from two tables having identical set of attributes. We talked about set difference which again is the difference of records of one relation from another given that they have identical set of attributes. We have shown that set difference can be used to also compute set intersection which is not in the fundamental operation but is derived one. And we have shown a very interesting operation based on Cartesian product selection and projection called natural joint where two tables can be joined based on one or more common attributes they have. Now, I am sure you have already noted that if I am doing a natural joint between two tables which do not have any common attribute then the result is merely the Cartesian product because the selection around the Cartesian product has no condition to select any of the you know any of the fields any of the rows separately. So, it merely turns out to be a Cartesian product. So, in this module we have introduced the relational algebra and we have familiarized ourselves with the fundamental and derived operators of relational algebra. Going forward in the next module we will take a deeper look into the relational module and start progressing towards the query design and database design."

In [9]:
times = []
for i, segment in enumerate(result['segments']):
    start, end = segment['start'], segment['end']
    print(i)
    print(f"00:00:{str(int(start)).replace('.', ',')} --> 00:00:{str(int(end)).replace('.', ',')}")
    times.append(int(start))
    print(segment['text'].strip())
    print()

0
00:00:18 --> 00:00:23
Welcome to module 5 of Database Management Systems.

1
00:00:24 --> 00:00:33
In the previous module, we started discussions on introducing relational model. We will conclude

2
00:00:33 --> 00:00:40
that in this module. So, in the last module we have talked about attributes, relational

3
00:00:41 --> 00:00:48
schemas and instances in mathematical form and very importantly we have tried to introduce

4
00:00:48 --> 00:00:55
discuss about the concept of keys. In this module, we will try to understand more on the

5
00:00:55 --> 00:00:62
relational algebra and familiarize with the operations of relational algebra. So, these

6
00:00:62 --> 00:00:68
are the different operations that we will look at select project union and so on. Some

7
00:00:68 --> 00:00:74
of them are simple set theoretic operations, some are newly defined operations and we look

8
00:00:74 --> 00:00:82
at the aggregators. So, relational operators. So, what is a relation? As we have seen already,

9
00:00:82 --> 00:00:90
a relation is nothing but a table. It has a set of columns and it has a set of rows or records

10
00:00:90 --> 00:00:102
that fill up data according to those columns. Select is an operation which chooses a subset of

11
00:00:103 --> 00:00:113
rows from a relation based on a certain condition. So, it is written in terms of in relational

12
00:00:113 --> 00:00:122
algebra we write it with a notion of notation of sigma and following a parenthesis, we put the

13
00:00:122 --> 00:00:131
name of the relation. So, we say we are selecting from the relation r and then we put a condition

14
00:00:131 --> 00:00:152
here which is a propositional condition. So, if for this all rows of r will be checked if a row

15
00:00:153 --> 00:00:161
will satisfy this condition, then it will be included in the result. If it does not satisfy the

16
00:00:161 --> 00:00:168
condition, then it will not be included in the result. So, let us look at this example. So,

17
00:00:168 --> 00:00:180
our condition is sorry let us put this back. So, our condition theta is a is equal to b and d

18
00:00:180 --> 00:00:189
is greater than 5. So, you are saying that that any row to be selected the value of its a

19
00:00:189 --> 00:00:197
attribute should equal the value of its b attribute and when that happens the value of its d

20
00:00:197 --> 00:00:203
attribute must be greater than 5. So, you can easily if we look through this we can easily say by

21
00:00:203 --> 00:00:211
the first condition a equal to b can say that this row does not satisfy this condition because a

22
00:00:211 --> 00:00:221
is alpha and b is beta. Whereas, these three rows satisfy because a is equal to beta, then we again

23
00:00:221 --> 00:00:234
look at d. We find that this d is less than 5. We say this also does not satisfy because it

24
00:00:234 --> 00:00:241
fails the second condition both have to hold. So, we finally come to the this record and this

25
00:00:241 --> 00:00:252
record are the selected record in the result alpha alpha 1 7 alpha alpha 1 7 beta beta 23 10 beta

26
00:00:252 --> 00:00:261
beta 23 10. In both of these records a is equal to b in both of these records d is greater than 5.

27
00:00:262 --> 00:00:272
So, selection is a process is a operation which selects a subset of rows from a table from a

28
00:00:272 --> 00:00:280
relation and creates a new relation based on a selection condition that must be true for all

29
00:00:280 --> 00:00:287
the rows for all the records that have been selected. But the set of columns do not change

30
00:00:287 --> 00:00:299
they remain the same. So, for example, if I if in the contrary if we say that sigma a not equal to b

31
00:00:299 --> 00:00:314
r, then naturally I will have a relation which feels a b c d and that relation will be only

32
00:00:315 --> 00:00:326
this row because as the only row where is not equal to b. We can I can have a selection saying r

33
00:00:327 --> 00:00:339
where c is greater than 0. Naturally this will satisfy this will satisfy this will satisfy this will satisfy.

34
00:00:341 --> 00:00:348
So, this whole relation would be the result of the selection. So, it is possible that it is not

35
00:00:348 --> 00:00:356
necessary that some rows will have to get eliminated in the result. I say that this is

36
00:00:361 --> 00:00:372
is the selection is d is less than 1 this will fail this will fail this will fail this will fail.

37
00:00:374 --> 00:00:381
So, all of them will fail. So, it is possible that the result of an operation could be either the

38
00:00:381 --> 00:00:388
whole relation as we saw last time or a null relation which has where none of the records will feature

39
00:00:388 --> 00:00:397
because none of the records satisfy the condition. So, there is a basic select operation. Let us move on

40
00:00:397 --> 00:00:404
look at the next one is called the projection operation. So, select chooses a subset of the rows

41
00:00:405 --> 00:00:416
projection necessarily chooses projects a set of columns from the original relation.

42
00:00:418 --> 00:00:425
So, this is a quite straightforward to see it is written in terms of this notation pi and then

43
00:00:425 --> 00:00:434
you write the columns that you want in the result of projection. So, you say this is a c.

44
00:00:436 --> 00:00:442
So, which means basically the column which is not selected in the projection you can simply

45
00:00:442 --> 00:00:448
forget about that simply erase it if you erase that you get this relation.

46
00:00:450 --> 00:00:459
And once you get that please recall that a relation is a set and in a set every element has to be

47
00:00:459 --> 00:00:469
distinct. So, after erasing b this first and the second row have become identical. So, naturally

48
00:00:470 --> 00:00:476
both of them cannot be there it will have to be made distinct by erasing any one of them.

49
00:00:477 --> 00:00:481
And hence they become one row in the result.

50
00:00:484 --> 00:00:494
Obviously, I can project on any of the in fields singly or all the fields also I can do a projection

51
00:00:495 --> 00:00:504
of of this a b c of r of course, that means in this case that will mean that it is a set which

52
00:00:504 --> 00:00:512
is equal to r a given. But obviously, I must have at least one column at least one attribute to

53
00:00:512 --> 00:00:517
project on I cannot project on a null set of attributes because that does not give me a scheme

54
00:00:517 --> 00:00:523
I have. So, there will have to be some attribute one or more attribute on which I project.

55
00:00:525 --> 00:00:531
So, selection and projection selection has given me the set of rows to written and projection

56
00:00:532 --> 00:00:537
has given me what are the columns to written in the result. And combining them I can do several

57
00:00:537 --> 00:00:543
different operations in a database table which can give me several interesting results.

58
00:00:545 --> 00:00:551
Before proceeding further let us look into some of the typical other operations that relational

59
00:00:551 --> 00:00:558
algebra allows. The next one is union given two relations I can take a union this is nothing,

60
00:00:558 --> 00:00:565
but a set thearity union the two relations r and s must have the same set of columns a and b

61
00:00:566 --> 00:00:572
because if the columns are not same then the union does not make sense they because certainly

62
00:00:572 --> 00:00:576
if the columns are different attributes are different their types and type of data values would

63
00:00:576 --> 00:00:582
be different. So, they cannot be put to a same table. So, when two relations have the same set

64
00:00:582 --> 00:00:592
of attributes then their instances can be taken a union of. So, all records that exist in

65
00:00:593 --> 00:00:604
both these relations will be put together into a single table. So, here alpha 1 is coming here beta

66
00:00:604 --> 00:00:616
1 is coming here in terms of relation alpha 1 is coming here alpha 2 is coming here beta 1 is

67
00:00:616 --> 00:00:626
coming here beta 3 is coming here and alpha 2 is coming here you can see that this record alpha

68
00:00:626 --> 00:00:636
exist in both the relations and by the set theoretic notion of uniqueness in the union they have to

69
00:00:636 --> 00:00:643
be uniqueified. So, one of them will be removed it does not matter because they are identical anyway.

70
00:00:644 --> 00:00:653
So, for relations having the same set of attributes we can simply make a union of all its records.

71
00:00:659 --> 00:00:667
So, other the third operation is a fourth operation is doing a set difference it works simply as

72
00:00:667 --> 00:00:676
set theoretic difference again the two relations must have the same set of attributes and I can do

73
00:00:676 --> 00:00:686
a difference of R minus S which mean that all two pulls which exist in R but do not exist in S

74
00:00:687 --> 00:00:696
will be included. So, this is included because this is not here but this is not included because

75
00:00:697 --> 00:00:705
it is in S this is included because this is this does not exist in the set S.

76
00:00:707 --> 00:00:719
So, it is a set so you take the set R and then erase all the records like this which exist in S

77
00:00:720 --> 00:00:729
and you get R minus S. So, if I look into just to recap if I look into the

78
00:00:731 --> 00:00:739
wind diagram then this is this is a set R minus S which belongs to R but does not belong to S.

79
00:00:739 --> 00:00:747
So, this is a fourth operation that one can do with the

80
00:00:749 --> 00:00:759
in relational algebra. Fifth is a set intersection of two relations. So, again the two

81
00:00:759 --> 00:00:765
relations need to have the same set of attributes you can take their intersection which is the

82
00:00:765 --> 00:00:776
record which belongs to both it is the record that belongs to both of them and as you

83
00:00:778 --> 00:00:785
are aware now set intersection actually is not a new operation it is not a fundamental operation

84
00:00:785 --> 00:00:800
because if I have R if I have S then this is R minus S. Now, if I subtract this R minus S which

85
00:00:800 --> 00:00:810
is this set from R which is this bigger set then what will be remaining this is what will be

86
00:00:810 --> 00:00:819
remaining. So, if I subtract R minus S from R then what will remain is necessarily the intersection

87
00:00:819 --> 00:00:828
of this is R intersection S. So, set intersection is not a fundamental operation of relational algebra

88
00:00:829 --> 00:00:835
but can be used because it can be expressed in terms of set difference.

89
00:00:844 --> 00:00:850
Next comes how can we join two different relations which have different set of attributes.

90
00:00:851 --> 00:00:859
So, relation R has AB and relation S has CDE. So, we can take a Cartesian product. So,

91
00:00:859 --> 00:00:865
taking Cartesian product is making all possible combinations. So, necessarily if since this has

92
00:00:865 --> 00:00:875
two relations and this has three relations. So, this will have 1, 2, 3, 4, 5, 6, 7, 8. This

93
00:00:875 --> 00:00:885
has four relations. So, these are 8 total all possible pairing of relations of R or records

94
00:00:885 --> 00:00:891
of R and records of S are included. So, that is a Cartesian product all possible combinations.

95
00:00:893 --> 00:00:902
This is how we can join two relations but certainly what is important is something which we

96
00:00:902 --> 00:00:908
will discuss shortly. Now, in the Cartesian product then issue may happen because

97
00:00:909 --> 00:00:915
there could be attributes which are common between two relations. So, if two attributes are common

98
00:00:915 --> 00:00:920
when you take Cartesian product how do you put their name because as with the example show here

99
00:00:920 --> 00:00:927
between R and S, the attribute B is common. So, how do you take care of that. So, when the

100
00:00:927 --> 00:00:934
such common names happen then we actually change the name of the attribute with the name of the

101
00:00:934 --> 00:00:942
relation. So, B coming from R will be called R dot B and S B coming from S will be called R dot

102
00:00:942 --> 00:00:954
S and accordingly the relational algebra gives you a way to rename a table and put its name

103
00:00:954 --> 00:00:966
differently. So, this is given this is given by this relation given by this symbol rho.

104
00:00:967 --> 00:00:978
So, you can using a relation R you can actually give it a different name S and do that in terms of.

105
00:00:979 --> 00:00:987
So, with that you can actually because otherwise you cannot compute R cross R because if we try to

106
00:00:987 --> 00:00:994
do R cross R then you will have R dot A R dot B and you again have R dot A R dot B. So, you are

107
00:00:994 --> 00:00:1002
using this to rename R to S and then compute this. So, renaming a table is another feature which

108
00:00:1002 --> 00:00:1009
is provided of course, it is not a fundamental operation of the algebra, but this is what makes

109
00:00:1009 --> 00:00:1019
the any kind of Cartesian product possible. Finally, we can make composition of operations

110
00:00:1020 --> 00:00:1027
that if for example, what you show here is we have two relations R and S, we have taken a Cartesian

111
00:00:1027 --> 00:00:1034
product and then we have taken a selection. So, technique Cartesian product of R and S to produce

112
00:00:1034 --> 00:00:1042
the table as you can see the R cross S and then a selection based on A equal to C based on that

113
00:00:1042 --> 00:00:1048
condition. So, all these operations can be combined in multiple different ways to give you

114
00:00:1048 --> 00:00:1058
really complex relational algebra operations. There is a nice operation which is a derived one

115
00:00:1058 --> 00:00:1065
which can be written in terms of other operations which is called a natural join which we will use

116
00:00:1065 --> 00:00:1074
very heavily. Let me first show you an example of that. Suppose I have two relations R and S

117
00:00:1075 --> 00:00:1081
and what is important is there are some attributes which are common between them.

118
00:00:1084 --> 00:00:1092
Now, we saw earlier that in Cartesian product in terms of common attributes we basically the

119
00:00:1092 --> 00:00:1096
attributes got renamed in terms of the table name, but this is not what we are looking at in

120
00:00:1096 --> 00:00:1104
relation natural join. What we want to say is if an attribute is common between two two

121
00:00:1104 --> 00:00:1116
tables then while you join them the records from two fields can be joined if their value

122
00:00:1117 --> 00:00:1128
on that common attribute is same. So, it is what it tries to do is it tries to make a Cartesian

123
00:00:1128 --> 00:00:1137
product of these two tables first take all possible combinations, but then you select only those

124
00:00:1137 --> 00:00:1149
rows where the values are identical between columns having the same name. So, for example, if you

125
00:00:1149 --> 00:00:1159
look into this row and this row. So, what will happen in the Cartesian product I will have

126
00:00:1163 --> 00:00:1174
this alpha 1 alpha a 1 a alpha let me write it in smaller. So, I am doing a Cartesian product

127
00:00:1175 --> 00:00:1190
I am looking at this row I am looking at this row. So, I have a b c d, i b d e and alpha alpha a 1 a

128
00:00:1190 --> 00:00:1201
alpha. Now, they match on b they match on d. So, I will say this is this will get retained,

129
00:00:1202 --> 00:00:1211
but in the Cartesian product I will also have the first row of r going with the second row of s

130
00:00:1212 --> 00:00:1226
alpha 1 alpha a 3 a beta. Here the b does not match, d does not does match, but the b does not match.

131
00:00:1230 --> 00:00:1240
So, this particular entry will not go in the final result. So, you take the Cartesian product

132
00:00:1241 --> 00:00:1251
and you only retain those rows where the values match for the identically named attribute.

133
00:00:1253 --> 00:00:1256
That is why. So, you take the Cartesian product now look at the expression.

134
00:00:1258 --> 00:00:1269
The attributes common attributes are b and c b and d. So, the b attribute is r dot b and s dot b.

135
00:00:1269 --> 00:00:1276
So, you say that in the Cartesian product r dot b must equal s dot b. The name is common the

136
00:00:1276 --> 00:00:1283
value will have to be same further. Similarly, d is a common attribute. So, r dot d value in the r

137
00:00:1283 --> 00:00:1291
dot d and the value in the s dot d has to be same. So, based on the Cartesian product you do a

138
00:00:1291 --> 00:00:1301
selection for equality of values on attributes which are identical between the two columns,

139
00:00:1301 --> 00:00:1306
between the two relations, within the two tables. This is the final selection.

140
00:00:1308 --> 00:00:1315
As you do that you get a table where there are two b's r dot b s dot b.

141
00:00:1316 --> 00:00:1325
There are two d's r dot d s dot d, but according to this selection for all at all records for all rows

142
00:00:1326 --> 00:00:1333
the value on r dot b and value on s dot b are same. Value on r dot d and value on r s dot d are same

143
00:00:1334 --> 00:00:1341
because that is how we have done the selection. So, there is no reason to keep two b columns or two

144
00:00:1341 --> 00:00:1353
d columns. So, now you project based on a r dot b c r dot d and e which means that s dot b

145
00:00:1355 --> 00:00:1366
and s dot d are left out. You do not project. So, after you have done this projection you get the

146
00:00:1366 --> 00:00:1375
final result of the natural join which has a union of all the attributes that the two relations

147
00:00:1375 --> 00:00:1389
at a b c d and b d union is a b c d and you have all those records whose values matched on the

148
00:00:1389 --> 00:00:1396
common attributes between relation r and relation d. So, you can say that if I now do a selection

149
00:00:1396 --> 00:00:1403
if I now do a projection on a b c or rather a b c d I will get a subset of r.

150
00:00:1405 --> 00:00:1413
So, if I do a projection on b d e I will get a subset of s. So, this is the natural join operation

151
00:00:1413 --> 00:00:1419
in relational algebra as you can see this is a derived operation because we could use the

152
00:00:1420 --> 00:00:1426
Cartesian product selection and projection to get this, but as I tell you we will see more of

153
00:00:1427 --> 00:00:1436
when we look at the look at all these different query coding, but natural join is one of the most

154
00:00:1437 --> 00:00:1441
widely used most fundamental relational algebra operation that you will often need beyond

155
00:00:1442 --> 00:00:1449
selection and projection. So, these were the six operations and the important derived operations

156
00:00:1449 --> 00:00:1453
of relational algebra besides that relational algebra has some aggregation operators.

157
00:00:1455 --> 00:00:1462
For example, given a table we could compute the sum of values on a column, we could compute

158
00:00:1462 --> 00:00:1468
average of values, max of values, mean of values. So, these somehow aggregate values of multiple

159
00:00:1469 --> 00:00:1475
rows on a particular column and therefore, these are called aggregate operators.

160
00:00:1476 --> 00:00:1483
We will see when we talk about SQL, we will see how this really can be coded in SQL and used,

161
00:00:1483 --> 00:00:1488
but these are this become very convenient to use because often we will need to know

162
00:00:1488 --> 00:00:1496
if this is I mean these are the instructors and so, let us see which instructor has a maximum

163
00:00:1496 --> 00:00:1504
load of courses how many based on hours or which instructor has what is average load

164
00:00:1504 --> 00:00:1509

In [10]:
len(times)

198

In [11]:
import cv2
import os
from datetime import datetime

#path to save images
path = r'/kaggle/working/'
os.chdir(path)

i = 0

video = cv2.VideoCapture('/kaggle/input/dbms-dataset/Introduction to Relational Model_2.mp4')

fps = video.get(cv2.CAP_PROP_FPS)
print('frames per second =',fps)

frames per second = 29.97002997002997

In [12]:
for i in times:
        
    frame_id = int(fps*( i))
#     print('frame id =',frame_id)
    video.set(cv2.CAP_PROP_POS_FRAMES, frame_id)
    ret, frame = video.read()
    
    cv2.imwrite(str(i)+ '.png', frame)

In [13]:
# # reducing frames

# threshold = 20.0

# frame =  cv2.imread("/kaggle/working/14.png")
# prev = frame

# for i in times:
    
#     frame = "/kaggle/working/" + str(i) +".png"
    
#     if ((np.sum(np.absolute(frame - prev))//np.size(frame)) > threshold) :
        
#         cv2.imwrite('new' + str(i)+ '.png', frame)
#         prev= frame
    
#     else:
#         prev = frame
        
        
#  # cv2.read(str(i)+ '.png')

In [14]:
# select unique images
# generate  text from image OCR
#

In [15]:
# text recognition
import cv2
import pytesseract

# read image
img = cv2.imread('/kaggle/working/122.png')

# configurations
config = ('-l eng --oem 1 --psm 3')

# pytessercat
text = pytesseract.image_to_string(img, config=config)

# print text
text = text.split('\n')
print(text)

['SWAYAM: NPTEL-NOC MOOCs Instructor: Prof. P P Das, IIT Kharagpur. Jan-Apr, 2018 ih', '+4', '', '[', '', '2', '', 'i', 'ia ‘b', ':', '', '3', '', 'Select Operation — selection of rows (tuples)', '', '* Relation r', '', ' ', '', 'go (#)', '', '™ Onzpp>5 (I)', '', ' ', '', '04.6 (©Silberschatz, Korth and Sudarshan', '', ' ', '', ' ', '\x0c']

In [ ]:
from transformers import pipeline

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

article = maintext

summary = summarizer(article, max_length=3000, min_length=2000)

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:98: UserWarning: unable to load libtensorflow_io_plugins.so: unable to open file: libtensorflow_io_plugins.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so: undefined symbol: _ZN3tsl6StatusC1EN10tensorflow5error4CodeESt17basic_string_viewIcSt11char_traitsIcEENS_14SourceLocationE']
  warnings.warn(f"unable to load libtensorflow_io_plugins.so: {e}")
/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:104: UserWarning: file system plugins are not loaded: unable to open file: libtensorflow_io.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so: undefined symbol: _ZTVN10tensorflow13GcsFileSystemE']
  warnings.warn(f"file system plugins are not loaded: {e}")

Downloading (…)lve/main/config.json:   0%|          | 0.00/1.58k [00:00<?, ?B/s]

Downloading pytorch_model.bin:   0%|          | 0.00/1.63G [00:00<?, ?B/s]

In [ ]:
summary